version: 2
jobs:
  build:
    docker:
    - image: registry.gitlab.com/tigefa/ffmpeg:latest
    steps:
    - checkout
    - run:
        name: Requirements
        command: |
          apt-get update && apt-get dist-upgrade -yqq && apt-get install -yqq sudo lsb-release apt-transport-https ca-certificates software-properties-common wget curl netcat aria2 whois figlet git p7zip p7zip-full zip unzip
          apt-get install -yqq wget aria2 ffmpeg speedtest-cli telnet lshw tree
    - run:
        name: Downloading
        command: |
         aria2c --check-certificate=false --min-split-size=100M --max-concurrent-downloads=16 --max-connection-per-server=16 https://www.dropbox.com/s/dl/gftv3g71v6o9zrd/Invitation.Girl.2.2019.720p.HDRip.H264.mkv
    - run:
        name: Rendering
        command: |
          ulimit -c unlimited
          ffmpeg -i "Invitation.Girl.2.2019.720p.HDRip.H264.mkv" -threads 16 -c:v libx265 -c:a copy -metadata title="Invitation Girl 2 2019" -preset veryfast Invitation.Girl.2.2019.720p.HDRip.x265.mkv
          ls -hal
    - store_artifacts:
        path: Invitation.Girl.2.2019.720p.HDRip.x265.mkv
workflows:
  version: 2
  workflow:
    jobs:
    - build
